<!doctype html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a5a9dda98e.js" crossorigin="anonymous"></script>
    <meta name="google-signin-client_id" content="333642631602-h2l1m29lfb5c1d0dta76nvv4so4bjeo4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>

<div class="container" style="margin-top:8%;">
    <div class="text-center" style="border-radius: 40px; background-color: #343A40;margin-left: 15%;margin-right: 15%;padding-top: 5%;padding-bottom: 5%;">
        <div class="col">
            <img src="blogger.png" width="80" height="80" class="d-inline-block align-top"  style="margin-right: 10px;">
            
            <h3 style="color: white;margin-top: 2%;">Welcome to the</h3>
            <h1 style="color: white;">Blog Manager</h1>
        </div>
        
        <br><br>
        <p style="color: gainsboro;">please signin to continue</p>
        <div class="container">
        <div class="row">
            <div class="col"></div>
              <div class="col">
                <a class="btn btn-outline-light" href="<%=url%>" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Signin with Google
                </a>
              </div>
              <div class="col"></div>
            
          </div>
        </div>
    </div>
</div>

</body>
</html>